# This file automatically tags all developers for each PR.
# For more info https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @Holo-Host/developers
