if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

#!/usr/bin/env bash
# Used by https://direnv.net

# Automatically reload when this file changes
watch_file ./nix/devshells/default.nix
watch_file ./nix/*.nix

# Load `nix develop`
use flake .#rust

# Extend the environment with per-user overrides
source_env_if_exists .envrc.local
