# direnv
.direnv/
.env
.envrc.local

# nix
result
result-*

# rust
target/

# nixago: ignore-linked-files
/treefmt.toml

# nats
rust/*/tmp
rust/*/jwt
rust/*/*/test_leaf_server/*
rust/*/*/*.conf
rust/*/*/leaf_server.conf
rust/*/*/resolver.conf
leaf_server.conf
.local
rust/*/*/*/tmp/
rust/*/*/*/*/tmp/
