# direnv
.direnv/
.env
.envrc.local

# nix
result
result-*

# rust
target/

# nixago: ignore-linked-files
/treefmt.toml

# nats
rust/*/test_configs/
rust/*/tmp
rust/*/*/*.conf
rust/*/*/test_leaf_server/*
rust/*/*/leaf_server.conf
rust/*/*/resolver.conf
leaf_server.conf
.local
