# direnv
.direnv/
.env

# nix
result
result-*

# rust
target/

# nixago: ignore-linked-files
/treefmt.toml

# nats
rust/*/test-auth
rust/*/tmp
rust/*/jwt
rust/*/*/resolver.conf
rust/*/leaf_server.conf
rust/*/hub-js-storage

